body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.partnerVideo {
  position: absolute;  
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.userVideo {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 30%;
  height: 30%;
  z-index: 1;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}
.incommingCall{
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}

.mediaButtons {
  position: absolute;
  bottom: 10%;
  left: 5%;
}